html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.image_conatiner {
  background: url("/img/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 100%;
  border-radius: 7px;
  height: 80vh;
  width: 300px;
  /* padding: 0 20px; */
}
.image_conatiner img {
  position: absolute;
  border-radius: 30px;
}
.team {
  position: "absolute";
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.image_conatinerr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.scale_img_one {
  transform: scale(3);
  left: 250px;
  top: 100px;
}
.scale_img_two {
  transform: scale(2);
  left: 200px;
  top: -100px;
}
.scale_img_three {
  transform: scale(2);
  left: -100px;
  top: 100px;
}
.scale_img_four {
  transform: scale(2);
  left: -200px;
  top: 200px;
}
.transition {
  transition: all 0.5s ease-in-out;
}
.btn_one {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.btn_two {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
}
.btn_three {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;
}
.btn_four {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 1;
}
.text_1,
.text_2,
.text_4,
.text_3 {
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  z-index: -1;
}
.text_1_visible,
.text_3_visible,
.text_4_visible,
.text_2_visible {
  visibility: visible;
  height: auto;
  width: auto;
  opacity: 1;
  z-index: 1;
}
.position_absolute {
  position: absolute;
}
